@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Archive';
    src: url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
  }